.wrapper{
    margin-top: 125px;
}

div.form-row{
    margin-left: 13px;
}

.btn-danger{
    margin-left: 15px;
}

input.btn{
    width: 100px;
}

.reset{
    margin-left: 15px;
}

.card{
    float: left;
    margin-top: 30px;
    margin-left: 13px;
    margin-bottom: 40px;
    cursor: pointer;
    background: #D6DBDF;
    transition: all 0.20s;
}

.card img{
   height: 300px;
   width: 286px;
}

.card li:first-child{
    height: 90px;
}

.card:hover{
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}

.detalles{
    background: #212F3D;
}

.detalles img{
    width: 300px;
    height: 519px;
}

.modal-body{
    width: 435px;
    border-radius: 5px;
}

.modal-footer{
    background: #212F3D;
}

.resultados{
    color: black;
    background-color: white;
    width: 500px;
    border-radius: 5px;
    margin: 35% 35% 0 35%;
}

@media (min-width: 1600px) {

    .card{
        margin-left: 75px;
    }
}

