<div class="wrapper">
    <div id="descripcion">
        <h1>DESCRIPCIÓN DEL PROYECTO</h1>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque reprehenderit voluptates, amet accusantium
            necessitatibus aliquam architecto officiis vero ad error debitis corporis placeat doloribus nobis,
            perferendis
            veritatis, sunt pariatur exercitationem?
        </p>
    </div>

    <div id="candidato">
        <h1>CANDIDATO</h1>
    </div>
</div>