.wrapper{
    width: 100%;
    height: auto;
    text-align: center;
    
}

.descripcion{
    width: 1100px;
    height: auto;
    background-color: black;
    opacity: 90%;
    padding: 80px;
    border-radius: 10px;
    margin-top: 130px;
    display: inline-block;
}

.descripcion p{
    color: white;
    font-size: 30px;
    text-align: justify; 
}

.descripcion p a{
    cursor: pointer;
    color: #F1C40F;
    text-decoration: underline;
}

.descripcion h1{
    color: white;
    margin-bottom: 25px;
}

.candidato{
    margin-top: 150px;
    display: inline-block;
}

.candidato img.foto{
    margin-top: 20px;
    border-radius: 50%;
}

.datos p {
    text-align: center;
    margin-top: 50px;
}

.experiencia{
    margin-top: 100px;
}

.experiencia span{
    text-decoration: underline;
}

.datos img{
    width: 30px;
    height: auto;
}


