<div class="wrapper">
    <div class="descripcion">
        <h1>DESCRIPCIÓN DEL PROYECTO</h1>
        <p>
            El proyecto consiste en una web en la cual hay un buscador donde poder encontrar peliculas o series de
            tv
            por titulo y año, además de la consulta en detalle de cada una.
            <br><br>
            La web consta de la pagina de Inicio y el Buscador.
            <br>
            En la pagina de inicio se encuentra la descripción del proyecto y la presentación del candidato que
            puedes ver pinchando <a (click)="scroll()">AQUÍ</a>.
            <br>
            <br>
            En la pestaña del buscador aparece un listado de peliculas ya filtradas por la parabra "star" y en la
            parte de arriba aparece un formulario de busqueda por titulo y año.
            <br>
            <br>
            Si pinchas en la tarjerta de cualquiera de las peliculas ya filtradas, se despliega un modal con los
            detalles de la misma.
        </p>

        <div class="candidato">
            <h1>CANDIDATO</h1>
            <div>
                <img class="foto" src="../../assets/images/candidato.jpg" alt="">
            </div>
            <div class="datos">
                <p>
                    SERGIO FRAGUAS IGLESIAS
                    <br>
                    FULL STACK DEVELOPER
                    <br>
                    <br>
                    <img src="../../assets/images/correo.svg" alt=""><span> sergio.fraguas@gmail.com</span>
                    <br>
                    <img src="../../assets/images/llamada.svg" alt=""><span> 615268899</span>
                    <br>
                    <img src="../../assets/images/linkedin.svg" alt=""><span> /sergiofraguas</span>
                    <br>
                    <img src="../../assets/images/github.svg" alt=""><span> github.com/fr46uas</span>
                </p>

                <div class="perfil">
                    <p>
                        Me apasiona la informática y las nuevas tecnologías. Realicé en la escuela Neoland un Bootcamp
                        de programación de 500 horas en el cual aprendí tecnologías como HTML, CSS, Javascript, Angular,
                        Bootstrap, Typescript, JQuery, NodeJS, Express, MongoDB, MySQL, Ionic y GIT. Actualmente soy
                        desarrollador web junior con muchas
                        ganas de seguir aprendiendo, pero tambien con muchas ganas de poner a prueba todos mis
                        conocimientos
                        adquiridos.
                    </p>
                </div>
                <div class="experiencia">
                    <p>
                        EXPERIENCIA LABORAL
                    </p>
                    <p>
                        <span>GRUPO SIM, Desarrollador Front-End (Mayo 2020 - Agosto 2020)</span>
                        <br>
                        Desarrollo de la parte Front-end con HTML5, CSS3, Bootstrap 4, Javascript ES6, Angular 9, API
                        REST, SQL Server y Git.
                        <br>
                        <br>
                        <span>FREELANCE, Desarrollador Full-Satck (Sep. 2019 - Marzo 2020)</span>
                        <br>
                        Aplicación web para la busqueda de perros en adopción de la Comunidad de Madrid. Las tecnologías
                        usadas para su desarrollo son: HTML5, CSS3,
                        Javascript ES6, Angular 8 y Bootstrap para la parte front y para la parte Back se ha
                        usado Node.js, Express.js, Mongodb y MySQL, Para todo ello se ha
                        usado el control de versiones Git.

                    </p>
                </div>
            </div>
        </div>
    </div>

</div>













<!-- <div id="descripcion">
    <h1>DESCRIPCIÓN DEL PROYECTO</h1>
    <div class="descripcion">
        <p>
            El proyecto consiste en una web en la cual hay un buscador donde poder encontrar peliculas o series de
            tv
            por titulo y año, además de la consulta en detalle de cada una.
            <br><br>
            La web consta de la pagina de Inicio y el Buscador.
            <br>
            En la pagina de inicio se encuentra la descripción del proyecto y la presentación del candidato que
            puedes ver pinchando AQUÍ.
            <br>
            <br>
            En la pestaña del buscador aparece un listado de peliculas ya filtradas por la parabra "star" y en la
            parte de arriba aparece un formulario de busqueda por titulo y año.
            <br>
            <br>
            Si pinchas en la tarjerta de cualquiera de las peliculas ya filtradas, se despliega un modal con los
            detalles de la misma.

        </p>
    </div>
</div> -->